@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.error {
  color: red;
  background-color: #ffe6e6;
  border: 1px solid red;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
}

/* Selector for divs with the class 'message' */
.message {
  color: green;
  background-color: #e6ffe6;
  border: 1px solid green;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
}

.active {
  position: relative;
  display: inline-block;
  font-weight: bold;
  transition: color 0.3s ease;
}

.active::before,
.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
}

.active:hover::before,
.active:hover::after {
  width: 100%;
}

.active.active::before {
  width: 100%;
}

.active.active::after {
  content: ' ';
  /* Ensures the underline is visible */
}

input,
textarea {
  border: 1px solid #ccc;
}

#project {
  transition: all .3s;
}

#blog-header {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('assets/blog-header.jpg');
  width: 100%;
  background-size: cover;
  background-position: center;
}

#project-details {
  z-index: -1;
  bottom: 0;
  max-height: 0px;
  transition: max-height, .6s, z-index, .4s;
}

#project:hover {
  transform: translateY(-10px);
}

#project:hover #project-details {
  z-index: 0;
  padding: 10px;
  max-height: 60px;
}

#image-c {
  background-image: url('assets/edited-1.png');
  background-size: cover;
  background-position: center;
  margin-right: 50px;
  margin-top: -130px;
  width: 50%;
}

textarea {
  resize: none;
}

#project:hover #project-img {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
}

@media only screen and (max-width: 480px) {
  #image-c {
    width: 100%;
  }

  #image-c img {
    width: 100%;
  }
}